<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" >

    <mat-slider></mat-slider>
<!-- create html form variable  -->
<form #collegeForm="ngForm">
  <mat-form-field >
    <input matInput [(ngModel)]="filterObject.Name" (change)="Update()"  placeholder="Name" name="Name" ngDefaultControl>
  </mat-form-field>
  <mat-form-field >
    <input matInput [(ngModel)]="filterObject.City" (change)="Update()" placeholder="City" name="City" ngDefaultControl>
  </mat-form-field>


    <button type="submit"  (submit)="Update()">Submit</button>


</form>

  </mat-sidenav>
  <mat-sidenav-content>
      <button type="button my-mini-fab" mat-mini-fab (click)="sidenav.toggle()">Click me</button>


    <app-college>
    </app-college>
  </mat-sidenav-content>
</mat-sidenav-container>
